<html>
<head>
    <title>Django Account Manager</title>
 
    <link rel="stylesheet" type="text/css" href="extjs-4.0.2a/resources/css/ext-all.css">
    <style>
        .orderProducts_modified {
            background-color: #ffd493;
        }
        .x-tool-email {background-image: url("images/tool-email.gif") !important;}
        .x-tool-over .x-tool-email {background-position:-15px 0;}
    </style>

    

    <script type="text/javascript" src="extjs-4.0.2a/ext.js"></script>
    <script type="text/javascript" src="extjs-4.0.2a/ext-all-debug.js"></script>

    
    <script type="text/javascript" src="app.js"></script>

</head>
<body></body>
</html>
